.heading {
  margin: 3px 10px;
  font-family: sans-serif;
}

.randomimgrow {
  --bs-gutter-x: 3px !important;
}
.searchimgrow {
  --bs-gutter-x: 3px !important;
}

.mainimgcontainer {
  width: auto !important;
}

.downloadlink {
  display: flex;
  justify-content: center;
  margin: 7.3px;
}
