.container {
  border-bottom: 2px solid #1b96ff;
}

.icon {
  font-size: 55px;
  transition: 0.2s ease-in-out;
}

.icon:hover {
  color: rgb(216 0 255) !important;
}

.nav-item {
  font-size: 25px;
}

.nav-link:hover {
  color: rgb(216 0 255) !important;
}
