@import url("https://fonts.googleapis.com/css2?family=Shippori+Antique+B1&display=swap");

.container {
  border-bottom: 2px solid #1b96ff;
}

.icon {
  font-size: 55px;
  transition: color 0.2s ease-in-out;
}

.icon:hover {
  color: rgb(75 0 255) !important;
}

.nav-item {
  font-family: "Open Sans", sans-serif;
  font-size: 25px;
}

.nav-link:hover {
  color: rgb(75 0 255) !important;
}